.home {

  .tab-content {
    p {
      margin: 0;
    }
  }

  .input-group {

    .form-control,
    .input-group-text {
      border: 0;
    }
  }

  .form-control {

    border-color: unset;

    &::placeholder {
      color: #fff;
    }
  }

}